
classdiagram/ClassDiagramV0.1.asta.lock
img/classdiagram.png.bak
.idea/
.vs/
bin/
obj/Debug/
*.cache
*.editorconfig
*.cache
*.dll
*.appxrecipe
AudioMixingApp/.vs/AudioMixingApp/v17/.suo
*.v2
*.pdb
*.dll
*.appxrecipe
